<strong>Olá {{ organizer }}</strong>
<p>Uma nova inscrição no meetup foi feita! Confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{ user }} <br>
  {{!-- <strong>Data/hora: </strong> {{ date }} <br> --}}
  <br>
  {{!-- <small>O horário está novamente disponível para novos agendamentos!</small> --}}
</p>
